h1 {
    font-size: 50px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2.intro {
    text-align: center;
    font-size: 35px;
    background-color:rgb(204, 161, 7);
    border-style: dashed;
}

p.intro {
background-color: rgb(187, 230, 143);
border:solid black;
border-width: 3px;
border-radius: 5px;
}

img.intro {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width:50%;
}

#specialParagraph {
  background-color: rgb(0, 183, 255);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 5px;
  margin-left: 5%;
  margin-right: 5%;
}